* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-primarey-color : #0c0c0c;
    --text-color : #f0f0f0;
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;
    --border-primary-color : #333333;
    --border-radious-xs:4px;
}
html, body {
    height: 100%;
    width: 100%;
}
html {
    background-color: var(--bg-primarey-color);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

main , section{
    width: 100%;

}

section {
    padding: var(--space-2xl);
}

section #infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}